<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automated Registration">
    <listeners>
        <listener class-name="Registration.ErrorMessagesValidationsTests"></listener>
        <listener class-name="Registration.PresenceOfElementsTests"></listener>
        <listener class-name="Registration.SignupTests"></listener>
    </listeners>
</suite>
